@*@Html.ActionLink("Delete", "Delete", new { id = Model }, new { @class = "btn btn-info" })*@
<form asp-action="Delete" method="delete">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <input type="hidden" value="@Model" name="Id" />
</form>

