@model EmployeeVm

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @if (@ViewBag.AspAction == "Create")
        {
            ViewData["Title"] = "Create";
            <h1>Create</h1>

            <form asp-action="Create" method="post">

                <partial name="_EmployeeFormPartial" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" />
                    @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-info" })
                </div>
            </form>
        }
        else if (@ViewBag.AspAction == "Edit")
        {
            ViewData["Title"] = "Edit";
            <h1>Edit</h1>

            <form asp-action="Edit" method="post">

                <partial name="_EmployeeFormPartial" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" />
                    @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-info" })
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
